# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
smai/
venv/
.env/

# Models
models/*.pt
models/*.onnx
models/*.engine

# Dataset
dataset_raw/
datasets/
training/runs/
training/exports/

# Logs
*.log

# VSCode
.vscode/
